.ChatGraph {
    /* position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; */
    width: 100%;

    animation-duration: 0.3s !important;
}

.ChatGraph * {
    user-select: none !important;
}

.ChatGraph__Header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    top: calc(var(--header-height));
    height: var(--header-height);

    display: flex;
    justify-content: flex-end;
    align-items: center;

    gap: var(--gap);

    padding-inline: var(--margin-inline);
}

div[type="console-graph"] .ChatGraph__Header {
    top: 0px !important;
}

.NewNode {
    height: var(--min-height);

    padding-inline: var(--margin-inline);

    font-size: 100%;
}

.SimulateChat {
    height: var(--min-height);

    padding-inline: var(--margin-inline);

    font-size: 100%;
}


.ChatMenu {
    padding-inline: var(--margin-inline);
    padding-block: var(--margin-block);

    display: flex;
    flex-direction: row !important;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap);
}