.Button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    background-color: var(--secondary-color);
    
    min-width: min-content;
    height: 100%;
    border-radius: var(--border-radius);

    gap: calc(var(--gap) / 2);

    z-index: 1000000;

    overflow: hidden;

    pointer-events: all;
}

.Button:hover {
    opacity: 0.8 !important;
}

.Button:active {
    opacity: 0.6 !important;
}

.Button img {
    height: 40%;
}

.Button > div {
    height: 40%;
}

.SquareButton {
    aspect-ratio: 1/1 !important;
    height: var(--min-height) !important;
    width: var(--min-height) !important;
}

