.Chat {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    width: -webkit-fill-available;
    min-height: calc(100dvh - var(--header-height)) !important;
    height: calc(100dvh - var(--header-height)) !important;
    max-height: calc(100dvh - var(--header-height)) !important;

    padding-inline: calc(4 * var(--margin-inline));
    /* padding-block: calc(2 * var(--margin-block)); */

    /* gap: var(--gap); */
    gap: 0px;

    animation-duration: 0.3s !important;

    position: relative !important;
    /* overflow: hidden; */
}

.NoChat {
    background-color: var(--secondary-color);
    opacity: 0.6;
}

.Chat__Main {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: -webkit-fill-available;
    height: -webkit-fill-available;

    overflow-x: visible;
    overflow-y: hidden;
}

.Chat__Main__Messages {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: -webkit-fill-available;
    height: -webkit-fill-available;

    gap: var(--gap);

    overflow-x: visible !important;
    overflow-y: scroll;

    padding-block: calc(1 * var(--margin-inline));
}

.Chat__Main__Fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    pointer-events: none;
}

.Chat__Main__ScrollOverlay {
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0;

    width: 5px;

    background: var(--background-color);
    z-index: 100;

    pointer-events: none;
}

.Chat__Main__Fade::after, .Chat__Main__Fade::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 20px; /* Adjust the height for a larger or smaller fade effect */
    pointer-events: none; /* Allows clicks to pass through */
    z-index: 10;
}


.Chat__Main__Fade::after {
    bottom: 0;
    background: linear-gradient(to top, var(--background-color), transparent); /* Match your container's background color */
}

.Chat__Main__Fade::before {
    top: 0;
    background: linear-gradient(to bottom, var(--background-color), transparent); /* Match your container's background color */
}


.Chat__Bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: -webkit-fill-available;
    
    overflow: visible;

    position: relative;
}

/* if above 800px width */
@media (min-width: 800px) {
    .Chat__Bar {
        margin-bottom: var(--gap);
    }
}

@media (max-width: 800px) {
    .Chat__Bar {
        gap: calc(0.5 * var(--gap));
    }
}

.Chat__Bar__InputRow {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    width: -webkit-fill-available;
    min-height: var(--min-height);

    gap: var(--gap);
}

.Chat__Bar__InputRow > div > textarea {
    padding-inline: var(--margin-inline);
}

.Chat__Bar__InputRow > button:last-child {
    width: var(--min-height) !important;
}

.Chat__Bar__Buttons {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    position: relative;

    left: -7px;
    /* bottom: 2px; */

    z-index: 100;
}

.Chat__Bar__InputRow__Live {
    /* position: absolute; */
    /* right: calc(100% + var(--gap)); */
}

.Chat__Bar__InputRow__Console {
    /* position: absolute; */
    /* right: calc(100% + var(--gap)); */
    /* bottom: calc(200%); */
    position: relative;
    left: calc(-1 * var(--gap));
}

.Chat__Bar__InputRow__Graph {
    /* position: absolute; */
    /* right: calc(100% + var(--gap)); */
    /* bottom: calc(100%); */
    position: relative;
    left: calc(-0.5 * var(--gap));
}

@media (max-width: 800px) {
    .Chat__Bar__InputRow__Live {

    }

    .Chat__Bar__InputRow__Graph {

    }

    .Chat__Bar__InputRow__Console {

    }



}

.Chat__Bar__InputRow__Graph div {
    width: 65% !important;
    height: 65% !important;

    background-color: var(--tertiary-text-color) !important;

    opacity: 0.8;
}
.Chat__Bar__InputRow__Graph:hover div {
    background-color: var(--secondary-text-color) !important;
    opacity: 0.5 !important;
}
.Chat__Bar__InputRow__Graph:active div {
    background-color: var(--secondary-text-color) !important;
    opacity: 1 !important;
}


.Chat__Bar__InputRow__Console div {
    width: 70% !important;
    height: 70% !important;

    background-color: var(--tertiary-text-color) !important;
}

.Chat__Bar__InputRow__Console:hover div {
    background-color: var(--primary-text-color) !important;
    opacity: 0.5 !important;
}

.Chat__Bar__InputRow__Console:active div {
    background-color: var(--primary-text-color) !important;
    opacity: 1 !important;
}

.Chat__Bar__InputRow__Live div {
    width: 60% !important;
    height: 60% !important;

    background-color: var(--tertiary-text-color) !important;
}

.Chat__Bar__InputRow__Live:hover div {
    opacity: 0.8;
    background-color: var(--red) !important;
}

.Chat__Bar__InputRow__Live:active div {
    background-color: var(--red) !important;
}

.Chat__ToggleSidebar {
    position: absolute;

    left: var(--margin-inline);
    top: var(--margin-block);

    width: var(--min-height);
    height: var(--min-height);

    z-index: 1000000000000000000000000000000000000000000000;
}

.Chat__Main__NoChat {
    color: var(--primary-text-color);

    margin: auto;
    user-select: none;

    opacity: 0.5;
}

.Chat__Main__NoMessages {
    color: var(--secondary-text-color);

    margin: auto;
    user-select: none;

    opacity: 0.5;
}

.Chat__Bar__InputRow textarea {
    padding-left: var(--margin-inline);
}

@media (max-width: 800px) {
    .Chat__Bar__InputRow {
        /* gap: 0px; */
        gap: 6px;
    }


    .Chat__Bar__InputRow > *:last-child {
        height: var(--min-height) !important;

        border: 1px solid var(--tertiary-text-color);
        border-left: none;

        opacity: 1 !important;
    }

    /* .Chat__Bar__InputRow second to last child */
    /* .Chat__Bar__InputRow > *:nth-last-child(2):has(textarea[rows="1"]) {
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    } */


    /* if InputRow > div > input [ has only 1 row ] then style InputRow > div */
    .Chat__Bar__InputRow > div:first-child:has(textarea[rows="1"]) {
        border-right: none;
        
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }


    .Chat__Bar__InputRow:has(textarea[rows="1"]) {
        gap: 0px !important;
    }

    .Chat__Bar__InputRow textarea[rows="1"]:focus {
        outline: none !important;
    }

    .Chat__Bar__InputRow:has(textarea[rows="1"]:focus) {
        outline: 2px solid var(--action-color);
        outline-offset: 2px;
        border-radius: var(--border-radius);
    }

    .Chat__Bar__InputRow:has(textarea[rows="1"]:placeholder-shown:focus) {
        outline: 2px solid var(--action-color-hidden);
    }

    /* on textarea focus with no value */


    .Chat__Bar__InputRow:has(textarea[rows="1"]) > *:last-child {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .Chat {
        /* position: absolute !important; */
        width: -webkit-fill-available !important;
        /* height: calc(*100%; */
        /* height: calc(100dvh - var(--header-height)) !important; */
        /* max-height: calc(100dvh - var(--header-height)) !important; */

        /* height: calc(var(--body-height) - var(--header-height)) !important; */
        /* max-height: calc(var(--body-height) - var(--header-height)) !important; */
        overflow: hidden;
        /* height: calc(var(--body-height) - var(--header-height)) !important; */
        /* max-height: calc(var(--body-height) - var(--header-height)) !important; */
        /* min-height: calc(var(--body-height) - var(--header-height)) !important; */


        min-height: calc(100dvh - var(--header-height) - var(--margin-block)) !important;
        height: calc(100dvh - var(--header-height) - var(--margin-block)) !important;
        max-height: calc(100dvh - var(--header-height) - var(--margin-block)) !important;
    

        overflow: visible;
    }

    .Chat___Standalone {
        --gap: 18px;

        min-height: calc(100dvh - var(--header-height) - var(--margin-block) - var(--gap)) !important;
        height: calc(100dvh - var(--header-height) - var(--margin-block) - var(--gap)) !important;
        max-height: calc(100dvh - var(--header-height) - var(--margin-block) - var(--gap)) !important;
    
    }

}