.Chat {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    width: -webkit-fill-available;
    height: -webkit-fill-available;

    padding-inline: calc(4 * var(--margin-inline));
    padding-block: calc(2 * var(--margin-block));

    gap: var(--gap);

    /* overflow: hidden; */
}

.NoChat {
    background-color: var(--secondary-color);
    opacity: 0.6;
}

.Chat__Main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: -webkit-fill-available;
    height: 100%;

    gap: var(--gap);

    overflow: hidden;
}

.Chat__Bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: -webkit-fill-available;
    
    overflow: visible;

    position: relative;
}

.Chat__Bar__InputRow {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    width: -webkit-fill-available;
    min-height: var(--min-height);

    gap: var(--gap);
}

.Chat__Bar__InputRow > div > textarea {
    padding-inline: var(--margin-inline);
}

.Chat__Bar__InputRow > button:last-child {
    width: var(--min-height) !important;
}

.Chat__Bar__InputRow__Attachment {
    position: absolute;
    right: 0;
    bottom: 0;
    width: var(--min-height) !important;
    height: var(--min-height) !important;
    
    margin-right: 3px;
    /* margin-bottom: 1px; */
}

.Chat__Bar__InputRow__Live {
    position: absolute;
    right: calc(100% + var(--gap));
}

@media (max-width: 800px) {
    .Chat__Bar__InputRow__Live {
        /* left: 0px; */
        left: 0px !important;
        bottom: calc(100% + var(--gap));
    }
}

.Chat__Bar__InputRow__Live div {
    width: 65% !important;
    height: 65% !important;

    background-color: var(--tertiary-text-color) !important;
}

.Chat__Bar__InputRow__Live:hover div {
    opacity: 0.8;
    background-color: var(--red) !important;
}

.Chat__Bar__InputRow__Live:active div {
    background-color: var(--red) !important;
}

.Chat__ToggleSidebar {
    position: absolute;

    left: var(--margin-inline);
    top: var(--margin-block);

    width: var(--min-height);
    height: var(--min-height);
}

.Chat__Main__NoChat {
    color: var(--primary-text-color);

    margin: auto;
    user-select: none;

    opacity: 0.5;
}

.Chat__Main__NoMessages {
    color: var(--secondary-text-color);

    margin: auto;
    user-select: none;

    opacity: 0.5;
}

.Chat__Bar__InputRow textarea {
    padding-left: var(--margin-inline);
}

@media (max-width: 800px) {
    .Chat__Bar__InputRow {
        /* gap: 0px; */
        gap: 6px;
    }


    .Chat__Bar__InputRow > *:last-child {
        height: var(--min-height) !important;

        border: 1px solid var(--tertiary-text-color);
        border-left: none;

        opacity: 1 !important;
    }

    /* .Chat__Bar__InputRow second to last child */
    /* .Chat__Bar__InputRow > *:nth-last-child(2):has(textarea[rows="1"]) {
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    } */


    /* if InputRow > div > input [ has only 1 row ] then style InputRow > div */
    .Chat__Bar__InputRow > div:first-child:has(textarea[rows="1"]) {
        border-right: none;
        
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }


    .Chat__Bar__InputRow:has(textarea[rows="1"]) {
        gap: 0px !important;
    }

    .Chat__Bar__InputRow textarea[rows="1"]:focus {
        outline: none !important;
    }

    .Chat__Bar__InputRow:has(textarea[rows="1"]:focus) {
        outline: 2px solid var(--action-color);
        outline-offset: 2px;
        border-radius: var(--border-radius);
    }

    .Chat__Bar__InputRow:has(textarea[rows="1"]:placeholder-shown:focus) {
        outline: 2px solid var(--action-color-hidden);
    }

    /* on textarea focus with no value */


    .Chat__Bar__InputRow:has(textarea[rows="1"]) > *:last-child {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .Chat {
        /* position: absolute !important; */
        width: -webkit-fill-available !important;
        /* height: calc(*100%; */
        /* height: calc(100dvh - var(--header-height)) !important; */
        /* max-height: calc(100dvh - var(--header-height)) !important; */


        height: calc(var(--body-height) - (3 * var(--margin-block))) !important;
        max-height: calc(var(--body-height) - (3 * var(--margin-block))) !important;
        min-height: calc(var(--body-height) - (3 * var(--margin-block))) !important;




        overflow: visible;
        margin-bottom: var(--margin-block) !important;
    }

}