.Value {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	min-height: calc(var(--min-height) * 0.75);

	min-width: 49%;
	
	width: -webkit-fill-available;
	max-width: -webkit-fill-available;

	overflow: visible;

	/* padding-block: calc(var(--margin-block) * 0.55); */
	/* padding-inline: calc(var(--margin-inline) * 0.7); */




	gap: 3px;

	position: relative;
}

/* .Value p {
	width: fit-content;
	font-size: 80%;

	color: var(--secondary-text-color);
	font-weight: 400;

	cursor: help;
} */
.Value__Output .Value__Header {
	position: relative;
	padding-right: calc(var(--margin-inline) * 0.5);
}

.Value__Input .Value__Header {
	position: relative;
	padding-left: calc(var(--margin-inline) * 0.5);
}



.Value__Header p {
	width: fit-content;
	font-size: 80%;

	color: var(--secondary-text-color);
	font-weight: 400;

	/* help cursor */
	cursor: help;

	text-shadow: 0px 0px 1px var(--box-shadow-color-light);
}

.Value textarea {
	height: 100% !important;
	overflow: visible !important
}

.Value .Input {
	min-height: calc(var(--min-height) * 0.75);
}

.Value__Input {
	width: 100%;
	/* float: left; */
	align-items: flex-start;
}

.Value__Output {
	width: 100%;
	float: right;
	align-items: flex-end;

	overflow: visible;
}

.Value__Header div[data-handleid] {
	right: -3px !important
}


.Value__Header__Tooltip {
	position: absolute;
	width: auto;
	max-width: 50vw;

	background-color: var(--secondary-color);
	color: var(--primary-text-color);
	border: 1px solid var(--hover-active-color);
	border-radius: var(--border-radius-light);

	padding-inline: calc(var(--margin-inline) * 0.3);
	padding-block: calc(var(--margin-block) * 0.3);

	z-index: 1000000000000;
}

.Value__Header__Tooltip p:first-child {
	font-size: 57%;
	width: 100%;
	/* disable text wrapping */
	white-space: nowrap;
}

.Value__Header__Tooltip p:last-child {
	font-size: 65%;
	width: 100%;
	/* disable text wrapping */
	white-space: nowrap;

	color: var(--secondary-text-color);
	opacity: 0.6;
}


.Value .Value__Content {
	width: -webkit-fill-available;
}