:root {
  --background-color: #0e1011;  
  --secondary-color: #1a1c1d;

  --primary-text-color: #ececec;
  --secondary-text-color: #b3b3b3;
  --tertiary-text-color: #333;

  --action-color: #6486FF;
  --action-color-hidden: #6486ff2d;


  --disabled-color: #59595922;

  --hover-color: #90909050;
  --hover-active-color: #90909080;


  --margin-inline: 24px;
  --margin-block: 12px;

  --min-height: 42px;

  --gap: 12px;

  --border: 2px solid var(--hover-color);
  --border-radius: 9px;
  --border-radius-large: 13px;
}

/* data-theme dark, or if not set */
:root[data-theme="dark"], :root:not([data-theme]) {
  --background-color: #0b1111;  
  --secondary-color: #1a1c1d;

  --primary-text-color: #ececec;
  --secondary-text-color: #b3b3b3;
  --tertiary-text-color: #333;

  --hover-color: #90909030;

  --active-color: #3b8140;
  --active-color-hidden: #4c855063;

  --box-shadow: 0px 0px 20px 0px #000000a8;
}

/* data-theme light */
:root[data-theme="light"] {
  --background-color: #e9e9e9;  
  --secondary-color: #b3b3b387;

  --primary-text-color: #000000;
  --secondary-text-color: #000000d6;
  --tertiary-text-color: #00000080;

  --active-color: #3c6a3fd1;
  --active-color-hidden: #366d3a30;

  --box-shadow: 0px 0px 20px 0px #00000053;
}

*:focus {
  outline: 2px solid var(--action-color);
  outline-offset: 2px;
}

button, input, select, textarea {
  outline: none;
  border: none;
}

p, h1, h2 {
  color: var(--primary-text-color);
}

p {
  font-weight: 400;
}

a {
  color: var(--action-color);
  cursor: pointer;
}

h1, h2 {
  font-weight: 600;;
}

body, html {
  background: transparent;
}


body {
  overflow: hidden;
  height: 100vh;
  max-height: 100vh;
}

body > div {
  height: 100vh;
  min-height: 100vh;
}

body > div > main {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;

  height: -webkit-fill-available;

  background-color: var(--background-color);
}
:root[data-mode="app"] body > div > main {
  border: 3px solid var(--tertiary-text-color);
  border-radius: 3px;
}


* {
  margin: 0;
  padding: 0;

  animation-duration: 0.5s !important;
}


#main {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;

  height: -webkit-fill-available;
}

#login-theme {
  position: absolute;
  width: var(--min-height);
  height: var(--min-height);
  top: var(--margin-block);
  right: var(--margin-inline);
}


.cl-cardBox {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.cl-card {
  background: var(--background-color);
  border: var(--border);
  box-shadow: none;
}

.cl-footer {
  background: var(--secondary-color);
}

.cl-headerTitle {
  color: var(--primary-text-color);
}

.cl-headerSubtitle, .cl-dividerText {
  color: var(--secondary-text-color);
}

.cl-formFieldLabel {
  color: var(--primary-text-color);
}

.cl-formFieldAction, .cl-footerActionLink {
  color: var(--action-color)
}

.cl-socialButtonsIconButton {
  background: var(--secondary-color);
  /* border: 1px solid var(--tertiary-text-color) !important; */
  aspect-ratio: 1/1;
}

.cl-selectOptionsContainer {
  font-family: '__Figtree_d680cf';
  background: var(--secondary-color);
  border: 1px solid var(--tertiary-text-color);
  color: var(--secondary-text-color);

  overflow: visible;
}

.cl-selectOptionsContainer > div:first-child {
  border-bottom: 1px solid var(--tertiary-text-color);
}

.cl-selectSearchInput {
  background: transparent !important;
  /* font-family: '__Figtree_d680cf'; */
}

.cl-selectOption p {
  color: var(--primary-text-color);
}

.cl-selectOption * {
  font-family: '__Figtree_d680cf';
}

/* .cl-selectSearchInput:focus {
  outline-offset: 2px;
} */



.cl-input {
  background: transparent !important;
  color: var(--secondary-text-color);
  border: none !important;
  border-radius: var(--border-radius);
  box-shadow: none;
}

.cl-footerActionText {
  color: var(--secondary-text-color);
}

.cl-form {
  gap: var(--gap);
}

.cl-button {
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
  border: none !important;
  outline: none !important;
  box-shadow: none;
}

.cl-phoneInputBox > div > p {
  color: var(--primary-text-color);
}

.cl-phoneInputBox {
  gap: var(--gap);
  border: 1px solid var(--tertiary-text-color);
}

.cl-selectButton {
  background-color: transparent;
  border: none !important;
}

.cl-selectButton * {
  color: var(--secondary-text-color);
}

.cl-phoneInputBox .cl-formFieldInput {
  border: 1px solid var(--tertiary-text-color);
  background: var(--secondary-color);
  border-radius: var(--border-radius);

  margin-left: calc(var(--gap) / 2);
}

.cl-phoneInputBox:hover {
  border: 1px solid var(--secondary-text-color);
}


.cl-phoneInputBox:focus-within {
  border: 1px solid var(--action-color);
}


.cl-phoneInputBox input:focus {
  outline: none;
}

/* last > div of .cl-footer if its not the only div */
.cl-footer > div:last-child:not(:only-child) * {
  color: var(--secondary-text-color);
  opacity: 0.8;
}

.cl-footer > div:first-child:not(:only-child) {
  /* border-radius: 0 0 var(--border-radius) var(--border-radius); */
  border-bottom: 1px solid var(--hover-color);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}

.cl-footer > div:last-child:not(:only-child) {
  /* border-top: 1px solid var(--hover-color); */
}