.NewChatContainer {
    height: -webkit-fill-available;
    width: -webkit-fill-available;

    position: relative;
}

.NewChat {
    position: relative;
}

.NewChat__DropdownButton {
    position: absolute;
    right: 0;

    border-left: 1px solid var(--active-color-hidden);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.NewChat__DropdownButton:focus {
    border-left: none;
    border-radius: var(--border-radius);
}

.NewChat:hover{
    opacity: 1;
    
    outline: 2px solid var(--active-color-hidden);
    outline-offset: 2px;
}

.NewChat:focus {
    outline: 2px solid var(--active-color-hidden);
    outline-offset: 2px;
}

.NewChat button:focus {
    outline: 2px solid var(--active-color-hidden);
    outline-offset: 2px;
}

.NewChat:active{
    opacity: 1;
    
    outline: 2px solid var(--active-color);
    outline-offset: 2px;
}


.NewChat__Dropdown {
    position: absolute;
    bottom: -3px;
    left: calc(var(--min-height) + var(--gap) + var(--margin-inline));
    top: 13px !important;

    width: 35vw !important;
    max-width: 60vw;
    height: fit-content !important;

    margin-left: 0 !important;
    margin-top: calc(var(--min-height) + 3px) !important;
}

@media (max-width: 800px) {
    .NewChat__Dropdown {
        /* width: 100vw !important; */
        /* max-width: 100% !important; */


        left: var(--margin-inline);
        width: calc(100dvw - (var(--margin-inline) * 2)) !important;
        max-width: 100%;
        top: 14px !important;
    }

    .body:has(#chat-back) .NewChat__Dropdown {
        left: calc((var(--min-height) + var(--gap)) * -1);
        max-width: calc(100% + var(--min-height) + var(--gap));
    }
}