.Profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    border: 1px solid var(--hover-color);
    border-radius: var(--border-radius-large);

    gap: var(--gap);

    padding: calc(var(--margin-block) * 1) !important;
    /* padding-inline: var(--margin-inline); */

    height: 20px;
    min-height: 20px;
    max-height: 20px;

    cursor: pointer;
}

.Profile * {
    user-select: none !important;
}

  
.Profile:hover {
    border: 1px solid var(--hover-color);
    background-color: var(--hover-color);
}

.Profile:active {
    border: 1px solid var(--hover-active-color);
    background-color: var(--hover-active-color);
}


/* .Profile:first-child and has only an empty div */
.Profile:first-child:has(div:empty:only-child) {
    display: none;
}

.Profile:last-child > div:first-child {
    width: auto;
    height: 100%;
    aspect-ratio: 1 / 1;
    /* border-radius: 100%; */

    /* background-image: url("/images/avatar.png"); */
    /* background-size: 100%; */
    /* background-position: center; */

    /* -webkit-mask-image: url("/images/avatar.png");
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    background-color: var(--active-color-hidden); */


    /* background-color: var(--secondary-color); */
}

.Profile > div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 0;
}

.Profile > div:last-child > h1 {
    color: var(--secondary-text-color);
    font-size: 95%;
    font-weight: 600;
}

.Profile > div:last-child > p {
    color: var(--secondary-text-color);
    font-size: 80%;
    font-weight: 400;
}
