
.Sidebar {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;


    /* height: 100%; */

    /* padding-inline: var(--margin-inline);
    padding-block: var(--margin-block); */

    resize: horizontal;
    overflow: visible;

    width: 20vw;
    max-width: 25vw;
    min-width: 275px;

    /* height: calc(100% - var(--header-height)); */
    /* max-height: calc(100% - var(--header-height)); */


    z-index: 100;
}

.Sidebar__Loading {
    width: 30% !important;
    aspect-ratio: 1/1 !important;
    height: auto;
    margin-inline: auto;
    margin-top: var(--margin-inline);
    margin-bottom: auto;

    opacity: 0.4;
}

@media (max-width: 800px) {
    .Sidebar {
        width: 100vw;
        max-width: 100vw;
        min-width: 100vw;

        height: var(--body-height) !important;
        min-height: var(--body-height) !important;
        max-height: var(--body-height) !important;
    }

    .Sidebar__Sidebar {
        height: calc(var(--body-height) - (2 * var(--margin-block))) !important;
        min-height:calc(var(--body-height) - (2 * var(--margin-block))) !important;
        max-height: calc(var(--body-height) - (2 * var(--margin-block))) !important;
    }
}

.Sidebar__Sidebar {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
/*  */
    padding-inline: var(--margin-inline);
    padding-block: var(--margin-block);
    padding-bottom: 0px !important;

    border-right: var(--border);

    gap: var(--gap);

    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.Sidebar__Sidebar::after {
    --sidebar-resize-width: 12px;
    position: absolute;

    top: 0;
    right: calc(var(--sidebar-resize-width) / -2);
    overflow: visible;


    height: 100%;
    width: var(--sidebar-resize-width);
    cursor: ew-resize;   
    
    content: "";
    /* background-color: red; */
    /* opacity: 0.2; */

    pointer-events: all;
}

/* on ::after :hover */
.Sidebar:hover::after {
    /* background-color: var(--tertiary-text-color); */
    /* opacity: 0.2; */
    /* z-index: 10000000; */
}

.Sidebar__Row {
    display: flex;
    flex-direction: row;
    align-items: center;
    

    height: var(--min-height);
    min-height: var(--min-height);

    gap: var(--gap);


    /* margin-top: var(--margin-block); */
}
.Sidebar__Row:first-child { margin-top: 0; }


.Sidebar__Results {
    margin-top: calc(var(--margin-block) - var(--gap));

    /* padding-top: var(--margin-block); */
    margin-inline: calc(-1 * var(--margin-inline));
    margin-right:  calc(-1 * var(--margin-inline));

    overflow-y: overlay;

    /* height: 10%; */
    height: -webkit-fill-available;
}

.Sidebar__Result {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    gap: var(--gap);
    min-height: var(--min-height);
    height: var(--min-height);;

    padding-inline: var(--margin-inline);
}

.Sidebar__Result__Delete {
    margin-left: auto;
    opacity: 0 !important;
    pointer-events: all;
}

.Sidebar__Result__Delete div {
    background-color: var(--primary-text-color) !important;
}

.Sidebar__Result__Delete:hover div {
    background-color: var(--red) !important;
}

.Sidebar__Result__Delete:hover {
    opacity: 0.5 !important;
}
.Sidebar__Result:hover .Sidebar__Result__Delete {
    opacity: 0.3 !important;
}

.Sidebar__Result__Delete:active {
    opacity: 1 !important;
}


.Sidebar__Result:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.Sidebar__Result:active {
    background-color: var(--hover-active-color);
}
 
.Sidebar__Result:has(.Sidebar__Result__Delete:active) {
    background-color: var(--hover-color);;
}


.Sidebar__Result___Active {
    background-color: var(--hover-color);
}

.Sidebar__Result > div {
    /* width: -webkit-fill-available; */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    overflow: hidden;
}

.Sidebar__Result > div > h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    max-width: 100%;
}

.Sidebar__Result > div:first-child {
    height: 25%;
}

.Sidebar__Result > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    /* gap: var(--gap); */
}

.Sidebar__Result > div:last-child h1 {
    font-size: 133%;
    color: var(--primary-text-color);
}
.Sidebar__Result > div:last-child p {
    font-size: 100%;
    color: var(--secondary-text-color);
}

.Sidebar__Footer:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}

.Sidebar__Footer:active {
    background-color: var(--hover-active-color);
}

.Sidebar__Footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    gap: var(--gap);

    /* overflow: hidden; */


    border-top: 0.5px solid var(--hover-color);
    margin-inline: calc(-1 * var(--margin-inline));
    padding-inline: var(--margin-inline);


    padding-right: calc(var(--margin-inline) * 0.5);
    padding-block: var(--margin-block);

    overflow: hidden;
}

.Sidebar_Organization {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    gap: var(--gap);

    /* overflow: hidden; */


    border-top: 0.5px solid var(--hover-color);
    margin-inline: calc(-1 * var(--margin-inline));
    /* padding-inline: var(--margin-inline); */


    /* padding-right: calc(var(--margin-inline) * 0.5); */
    /* padding-block: var(--margin-block); */

    margin-bottom: calc(-1 * var(--gap));

}


.Sidebar_Organization:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}

.Sidebar_Organization:active {
    background-color: var(--hover-active-color);
}


.Sidebar > h3:first-child {
    user-select: none;
    cursor: pointer;
    font-size: 110%;
    font-weight: 400;
    color: var(--secondary-text-color);
}

.Sidebar__Collapsing {
    /* background: linear-gradient(270deg, var(--background-color), var(--hover-color)); */
}


.Sidebar__Result div h1 {
    font-size: 100%;
    font-weight: 500;
}

.Sidebar__Result div p {
    font-size: 100%;
    color: var(--secondary-text-color);
}

.Sidebar__Footer__DisplayName {
    color: var(--primary-text-color);
    opacity: 0.9;

    font-size: 90%;
    font-weight: 600;
}

.Sidebar__Footer__Footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    margin-right: 0px;

    height: 0px;
}

@media (max-width: 800px) {
    .Sidebar {
        background-color: var(--background-color);
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100vw;
        height: -webkit-fill-available;
        z-index: 1;
    }

    .Sidebar__Footer {
        /* padding-block: var(--gap); */
    }
}