
.Sidebar {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;


    /* height: 100%; */

    /* padding-inline: var(--margin-inline);
    padding-block: var(--margin-block); */

    resize: horizontal;
    overflow: visible;

    width: 20vw;
    max-width: 25vw;
    min-width: 275px;


    z-index: 10000000000;
}

@media (max-width: 400px) {
    .Sidebar {
        width: 100vw;
        max-width: 100vw;
        min-width: 100vw;
    }
}

.Sidebar__Sidebar {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
/*  */
    padding-inline: var(--margin-inline);
    padding-block: var(--margin-block);

    border-right: var(--border);

    gap: var(--gap);

    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.Sidebar__Sidebar::after {
    --sidebar-resize-width: 12px;
    position: absolute;

    top: 0;
    right: calc(var(--sidebar-resize-width) / -2);
    overflow: visible;


    height: 100%;
    width: var(--sidebar-resize-width);
    cursor: ew-resize;   
    
    content: "";
    /* background-color: red; */
    /* opacity: 0.2; */

    pointer-events: all;
}

/* on ::after :hover */
.Sidebar:hover::after {
    /* background-color: var(--tertiary-text-color); */
    /* opacity: 0.2; */
    /* z-index: 10000000; */
}

.Sidebar__Row {
    display: flex;
    flex-direction: row;
    align-items: center;
    

    height: var(--min-height);
    min-height: var(--min-height);

    gap: var(--gap);


    /* margin-top: var(--margin-block); */
}
.Sidebar__Row:first-child { margin-top: 0; }


.Sidebar__Results {
    /* padding-top: var(--margin-block); */
    margin-inline: calc(-1 * var(--margin-inline));

    height: -webkit-fill-available;
}

.Sidebar__Result {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    gap: var(--gap);
    min-height: 70px;
    height: 70px;

    padding-inline: var(--margin-inline);
}

.Sidebar__Result__Delete {
    margin-left: auto;
    opacity: 0 !important;
    pointer-events: all;
}

.Sidebar__Result__Delete:hover {
    opacity: 0.5 !important;
}
.Sidebar__Result:hover .Sidebar__Result__Delete {
    opacity: 0.3 !important;
}


.Sidebar__Result__Delete:active {
    opacity: 1 !important;
}


.Sidebar__Result:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}

.Sidebar__Result:active {
    background-color: var(--hover-active-color);
}
 
.Sidebar__Result:has(.Sidebar__Result__Delete:active) {
    background-color: var(--hover-color);;
}


.Sidebar__Result___Active {
    background-color: var(--hover-color);
}

.Sidebar__Result > div {
    /* width: -webkit-fill-available; */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    overflow: hidden;
}

.Sidebar__Result > div > h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    max-width: 100%;
}

.Sidebar__Result > div:first-child {
    height: 25%;
}

.Sidebar__Result > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    /* gap: var(--gap); */
}

.Sidebar__Result > div:last-child h1 {
    font-size: 133%;
    color: var(--primary-text-color);
}
.Sidebar__Result > div:last-child p {
    font-size: 100%;
    color: var(--secondary-text-color);
}

.Sidebar__Footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    gap: var(--gap);

    /* overflow: hidden; */
}

.Sidebar > h3:first-child {
    user-select: none;
    cursor: pointer;
    font-size: 110%;
    font-weight: 400;
    color: var(--secondary-text-color);
}

.Sidebar__Collapsing {
    /* background: linear-gradient(270deg, var(--background-color), var(--hover-color)); */
}


.Sidebar__Result div h1 {
    font-size: 125%;
}

.Sidebar__Result div p {
    font-size: 100%;
}

@media (max-width: 400px) {
    .Sidebar {
        background-color: var(--background-color);
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100vw;
        height: -webkit-fill-available;
        z-index: 1;
    }
}