.Value {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    min-height: calc(var(--min-height) * 0.75);

    min-width: calc(var(--min-height) * 3);
}

.Value p {
    width: 100%;
    font-size: 80%;

    color: var(--secondary-text-color);
    font-weight: 400;
}

.Value textarea {
    height: 100% !important;
    overflow: visible !important
}

.Value .Input {
    min-height: calc(var(--min-height) * 0.75);
}