.Node {
    display: flex;
    position: relative !important;
    border-radius: var(--border-radius-large) !important;
    flex-direction: row; /* Default to row direction */
}

.VerticalNode {
    display: flex;
    flex-direction: column; /* Ensure vertical layout */
}

.Node__Outputs__Left {
    /* padding-left: calc(var(--margin-block) * 0.55) !important; */
}

.Node__Outputs__Right {
    /* padding-right: 0px !important; */
}

.Node .Node__Outputs {
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    padding: calc(var(--margin-inline) * 0.3);
    padding-inline: calc(var(--margin-inline) * 0.5);

    min-width: calc(var(--min-height) * 3);
}

.Node .Node__Header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-block: calc(var(--margin-block) * 0.45);
    padding-inline: calc(var(--margin-inline) * 1.1);
    background: var(--hover-color);

    border-top-left-radius: calc(var(--border-radius-large) * 0.85);
    border-top-right-radius: calc(var(--border-radius-large) * 0.85);
}

.Node__Header__NoLeft {
    padding-left: var(--margin-block) !important;
}

.Node .Node__Header:has(h1:empty,h2:empty) {
    display: none;
}

.Node .Node__Header h1 {
    font-size: 90%;
    font-weight: 600;
    color: var(--primary-text-color);
}

.Node .Node__Header h2 {
    font-size: 80%;
    font-weight: 400;
    color: var(--secondary-text-color);
}
